/* Common CSS for all pages */
html {
    background-image: linear-gradient(#001C5A, #000000);

    position: fixed; 
    top: 0; 
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
head{
    margin-bottom: 40px;
}

#titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.barraSuperior{
    text-decoration: none;
    width: 150px;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    background-color: rgba(0,0,0,0) ;
    border-color: rgba(0,0,0,0);
    border-radius: 5px;

}
button a:visited {
    color: rgb(255, 255, 255);
   
}
.barraSuperior:hover{
    background-color: black;
}
