<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
      <div>
          <div>
              <label><b>Email</b></label>
              <input type="email" name="email" placeholder="Ex.: t_alexandre@ufms.br" required>
          </div>
          <div>
              <label><b>Senha</b></label>
              <input type="password" name="password" placeholder="Digite sua senha" required>
          </div>
          <div>
              <button type="submit">Login</button>
          </div>
      </div>
  </form>
