{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
    /* talvez mudar isso aqui para algo mais interno mas por enquanto estilizar assim */
    .critica{
        width: 100%;
        height: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

    }
    .filme{

        background-color: white;
        border-radius: 10px;
        width: 200px;
    }

    #infoadd{
        margin: 0.5px;
    }

    #essen{
        text-align: justify;
    }

</style>


        <!-- <h1>"Index" page</h1>  -->
        <div class="critica">
        
        {% if reviews %}
        {% for review in reviews %}
        
            <div class="filme">
                <!-- botar a imagem aqui -->
                <img src="" alt="">
                <h3 id="essen">{{ review.title }}</h3>
                <h5 id="infoadd">{{ review.director }}</h5>
                <h5 id="infoadd">{{ review.category }}</h5>
                <h4 id="essen">{{ review.review }}</h4>
                <p id="infoadd">{{ review.author }}</p></div>
        {% endfor %}
        {% else %}
        {% endif %}</div>
</body>
</html>
{% endblock %}
