{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <h1>"View Review" page</h1>
    <h2>Id: {{review.id}}</h2>
    <h2>Url_id: {{review.url_id}}</h2>
    <h2>Título: {{review.title}}</h2>
    <h2>Diretor: {{review.director}}</h2>
    <h2>Categoria: {{review.category}}</h2>
    <h2>Crítica: {{review.review}}</h2>
    <h2>Autor: {{review.author}}</h2>
    <h2>Publicado: {{review.public}}</h2>
    <h2>Criada em: {{review.created_at}}</h2>
    <h2>Atualizada em: {{review.updated_at}}</h2>
{% endblock %}
