{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <h1>"List Reviews" page</h1>
    {% if reviews %}
    {% for review in reviews %}
    <h2>{{ review.title }}</h2>
    <h3>{{ review.director }}</h3>
    <h3>{{ review.category }}</h3>
    <h3>{{ review.review }}</h3>
    <h3>{{ review.author }}</h3>
    <form action="{% url 'review_edit' review.url_id %}" method="GET">
        {% csrf_token %}
        <button>Editar</button>
    </form>
    <form action="{% url 'review_edit' review.url_id %}" method="DELETE">
        {% csrf_token %}
        <button>Deletar</button>
    </form>
    {% endfor %}
    {% else %}
    {% endif %}
{% endblock %}
