{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href=".\static\css\sign_up.css">
        <div class="formCadastroLogin">
            <div class="divCadastroLogin">
                <div class="opCadastroLogin">
                    <h2>FAÇA SEU LOGIN</h2>
                </div>
                <div class="opCadastroLogin">
                    <input id="campos" type="email" name="email" placeholder="Digite seu email" required>
                </div>
                <div class="opCadastroLogin">
                    <input id="campos" type="password" name="password" placeholder="Digite sua senha" required>
                </div>
                <div class="opCriarLogar">
                    <button id="cadastrarLogar" type="submit">Login</button>
                </div>
        </div>
    </div>
{% endblock %}
