{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href=".\static\css\sign_up.css">
        <meta charset="UTF-8">
            

    </head>
    <body>
        <form class="formCadastroLogin" action="{% url 'user_create' %}" method="POST">
            {% csrf_token %}
            <div class="divCadastroLogin">
            <div class="opCadastroLogin">
                <h2>FAÇA SEU CADASTRO<h2>
            </div>
            <div class="opCadastroLogin">
                <!-- <label><b>Primeiro Nome</b></label> -->
                <input id="campos" type="text" name="first_name" placeholder="Digite seu primeiro nome" required>
            </div>
            <div class="opCadastroLogin">
                <!-- <label><b>Último Nome</b></label> -->
                <input id="campos" type="text" name="last_name" placeholder="Digite seu sobrenome" required>
            </div>
            <div class="opCadastroLogin">
                <!-- <label><b>Email</b></label> -->
                <input id="campos" type="email" name="email" placeholder="Digite seu email" required>
            </div>
            <div class="opCadastroLogin">
                <!-- <label><b>Senha</b></label> -->
                <input id="campos" type="password" name="password_1" placeholder="Digite sua senha" required>
            </div>
            <div class="opCadastroLogin">
                <!-- <label><b>Confirmação de senha</b></label> -->
                <input id="campos" type="password" name="password_2" placeholder="Confirme sua senha" required>
            </div>
            </div>
            <div  class="opCriarLogar">
               <button id="cadastrarLogar" type="submit">Cadastrar</button>
            </div>
        </form>
        {% endblock %}
        
    </body>
        
</html>

